@model IEnumerable<SharedLibPhoneBook.UserApi>
@{
    Layout = "_Layout";
}
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Почта</th>
            <th>Роль</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
                  <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Role?.RoleName</td>
                    <td>
               <form asp-action="Delete" asp-route-name="@item.Name" method="post">
                 <input type="submit" value="Удалить"/>
              </form>   
                    </td>
                  </tr>
        }
    </tbody>
</table>
<p><a asp-action="NewUser">Добавить пользователя</a></p>
