@page
@model SXWebClient.Pages.CreateModel
@{
    <h1>Новая запись</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PhoneBook!.Id" />
                <div class="form-group">
                    <label asp-for="PhoneBook!.FirsName" class="control-label"></label>
                    <input asp-for="PhoneBook!.FirsName" class="form-control" />
                    <span asp-validation-for="PhoneBook!.FirsName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneBook!.MiddleName" class="control-label"></label>
                    <input asp-for="PhoneBook!.MiddleName" class="form-control" />
                    <span asp-validation-for="PhoneBook!.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneBook!.LastName" class="control-label"></label>
                    <input asp-for="PhoneBook!.LastName" class="form-control" />
                    <span asp-validation-for="PhoneBook!.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}
