@page
@model IndexModel
@{
    ViewData["Title"] = "Телефонная книга";
}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Notes)
        {
          <tr>
            <td>@item.Id</td>
            <td>@item.FirsName</td>
            <td>@item.MiddleName</td>
            <td>@item.LastName</td>
          </tr>
        }
    </tbody>
</table>
