@page
@model IndexModel
@{
    ViewData["Title"] = "Телефонная книга";
}
<table>
    <tr>
        @foreach (var item in Model.Notes)
        {
            <td>@item.FirsName</td>
        }
    </tr>
</table>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
