@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SharedLibPhoneBook.PhoneBook
@{
    @if (Model is not null)
    {
        <p style="color:red">@Model</p>
    }
    @Model?.FirsName
}